<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 日志输出路径 -->
	<property name="CURRENT_HOME" value="/Users/arris/Work/cheetahlog/current/bss/testlog" />

	<!-- 日志备份路径 -->
	<property name="BACKUP_HOME" value="/Users/arris/Work/backup/bss/testlog/%d{yyyy-MM-dd}/" />

	<!-- 最大保存天数 -->
	<property name="MAX_HISTORY" value="30" />

	<!-- 日志文件大小 -->
	<property name="MAX_FILE_SIZE" value="20MB" />

	<!--格式化输出：%d表示日期，%t表示线程名，p：级别，%m：日志消息，%n是换行符 -->
	<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %p | %m | %c.%M | %F:%L | %t%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<appender name="CHEETAH_ENGINE_TEST" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${CURRENT_HOME}/cheetah_engine_test.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${BACKUP_HOME}/cheetah_engine_test.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>${MAX_HISTORY}</MaxHistory>

			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<logger name="com.wamass.engine" level="INFO" additivity="true">
		<appender-ref ref="CHEETAH_ENGINE_TEST" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>